.task-list{
    list-style: none;
    padding: 0;
}
.task-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.task-item button{
    margin-left: 10px;
}

.completed-task{
    text-decoration: line-through;
    color: #6c757d;
}